/* Circle with Blur Theme Transition */

html.circle-with-blur-transition::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

html.circle-with-blur-transition::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="20" cy="20" r="18" fill="white" filter="url(%23blur)"/></svg>') center / 0 no-repeat;
  animation: circle-blur-scale 1s;
  animation-fill-mode: both;
}

html.circle-with-blur-transition::view-transition-old(root),
html.circle-with-blur-transition.dark::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}

html.circle-with-blur-transition.dark::view-transition-new(root) {
  animation: circle-blur-scale 1s;
  animation-fill-mode: both;
}

@keyframes circle-blur-scale {
  to {
    mask-size: 200vmax;
  }
}
