/* Circle Theme Transition */

html.circle-transition::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

html.circle-transition::view-transition-old(root),
html.circle-transition.dark::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}

html.circle-transition::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><circle cx="20" cy="20" r="20" fill="white"/></svg>') center / 0 no-repeat;
  animation: circle-scale 1s;
  animation-fill-mode: both;
}

@keyframes circle-scale {
  to {
    mask-size: 200vmax;
  }
}
