/* Circular Reveal Transition */

@keyframes circular-reveal {
  0% {
    clip-path: circle(0% at var(--x, 50%) var(--y, 50%));
  }

  100% {
    clip-path: circle(150% at var(--x, 50%) var(--y, 50%));
  }
}

html.circular-reveal-transition::view-transition-old(root),
html.circular-reveal-transition::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

html.circular-reveal-transition::view-transition-old(root) {
  z-index: 1;
}

html.circular-reveal-transition::view-transition-new(root) {
  z-index: 2;
  animation: circular-reveal 0.5s ease-in forwards;
}
