/* Diagonal Wipe Theme Transition */

html.diagonal-wipe-transition::view-transition-group(root) {
  animation-duration: 1.25s;
}

html.diagonal-wipe-transition::view-transition-old(root),
html.diagonal-wipe-transition.dark::view-transition-old(root) {
  animation: none;
}

html.diagonal-wipe-transition::view-transition-new(root) {
  animation-name: reveal-light;
}

html.diagonal-wipe-transition.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(-30% 0, -30% 0, -15% 100%, -10% 115%);
  }

  to {
    clip-path: polygon(-30% 0, 130% 0, 115% 100%, -10% 115%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(130% 0, 130% 0, 115% 100%, 110% 115%);
  }

  to {
    clip-path: polygon(130% 0, -30% 0, -15% 100%, 110% 115%);
  }
}
