/* Flip 3D Theme Transition */

html.flip-3d-transition::view-transition-group(root) {
  animation-timing-function: ease-in-out;
}

html.flip-3d-transition::view-transition-new(root),
html.flip-3d-transition::view-transition-old(root) {
  animation: pan 1s ease-in-out;
  backface-visibility: hidden;
  box-shadow: 2.2px 61.3px 73.1px -2px hsl(0 0% 0% / 0.58);
}

html.flip-3d-transition::view-transition-new(root) {
  --sr: 180deg;
}

html.flip-3d-transition::view-transition-old(root) {
  --sr: 0deg;
  backface-visibility: hidden;
}

@keyframes pan {
  0% {
    transform: scale(1) rotateY(var(--sr));
  }

  25% {
    transform: scale(0.5) rotateY(var(--sr));
    box-shadow: 1.8px 50.7px 51.4px -3.2px hsl(0 0% 0% / 0.32);
  }

  75% {
    transform: scale(0.5) rotateY(calc(var(--sr) + 180deg));
    box-shadow: 1.8px 50.7px 51.4px -3.2px hsl(0 0% 0% / 0.32);
  }

  100% {
    transform: scale(1) rotateY(calc(var(--sr) + 180deg));
  }
}
