/* GIF Explosion Theme Transition */

html.gif-explosion-transition::view-transition-group(root) {
  animation-timing-function: var(--expo-in);
}

html.gif-explosion-transition::view-transition-new(root) {
  mask: url('https://media.tenor.com/5acZjLl1OTAAAAAi/explosion-deltarune.gif')
    center / 0 no-repeat;
  animation: gif-scale 1.25s;
  animation-fill-mode: both;
}

html.gif-explosion-transition::view-transition-old(root),
html.gif-explosion-transition.dark::view-transition-old(root) {
  animation: gif-scale 1.25s;
  animation-fill-mode: both;
}

@keyframes gif-scale {
  0% {
    mask-size: 0;
  }
  10% {
    mask-size: 50vmax;
  }
  90% {
    mask-size: 50vmax;
  }
  100% {
    mask-size: 2000vmax;
  }
}
