/* GIF Fire Theme Transition */

html.gif-fire-transition::view-transition-group(root) {
  animation-timing-function: var(--expo-in);
}

html.gif-fire-transition::view-transition-new(root) {
  mask: url('https://media.tenor.com/9sSTiaKKvIAAAAAi/mad.gif') center / 0
    no-repeat;
  animation: gif-scale 1s;
  animation-fill-mode: both;
}

html.gif-fire-transition::view-transition-old(root),
html.gif-fire-transition.dark::view-transition-old(root) {
  animation: gif-scale 1s;
  animation-fill-mode: both;
}

@keyframes gif-scale {
  0% {
    mask-size: 0;
  }
  50% {
    mask-size: 50vmax;
  }

  100% {
    mask-size: 2000vmax;
  }
}
