/* GIF Punch Theme Transition */

html.gif-punch-transition::view-transition-group(root) {
  animation-timing-function: var(--expo-in);
}

html.gif-punch-transition::view-transition-new(root) {
  mask: url('https://media.tenor.com/cLuN6MvGwO8AAAAi/punch-knuckle.gif')
    center / 0 no-repeat;
  animation: gif-scale 1.65s;
  animation-fill-mode: both;
}

html.gif-punch-transition::view-transition-old(root),
html.gif-punch-transition.dark::view-transition-old(root) {
  animation: gif-scale 1.65s;
  animation-fill-mode: both;
}

@keyframes gif-scale {
  0% {
    mask-size: 0;
  }
  50% {
    mask-size: 50vmax;
  }

  100% {
    mask-size: 2000vmax;
  }
}
