/* GIF Love You Theme Transition */

html.gif-loveyou-transition::view-transition-group(root) {
  animation-timing-function: var(--expo-in);
}

html.gif-loveyou-transition::view-transition-new(root) {
  mask: url('https://media.tenor.com/6nVoqd_f-OQAAAAi/love-you-i-love-you.gif')
    center / 0 no-repeat;
  animation: gif-scale 1.5s;
  animation-fill-mode: both;
}

html.gif-loveyou-transition::view-transition-old(root),
html.gif-loveyou-transition.dark::view-transition-old(root) {
  animation: gif-scale 1.5s;
  animation-fill-mode: both;
}

@keyframes gif-scale {
  0% {
    mask-size: 0;
  }
  50% {
    mask-size: 50vmax;
  }
  100% {
    mask-size: 2000vmax;
  }
}
