/* Liquid Swipe Theme Transition */

html.liquid-swipe-transition::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

html.liquid-swipe-transition::view-transition-old(root),
html.liquid-swipe-transition.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

html.liquid-swipe-transition::view-transition-new(root) {
  animation: liquid-swipe 1s var(--expo-out) forwards;
}

@keyframes liquid-swipe {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 50%, 0% 100%, 0% 100%);
  }
  15% {
    clip-path: polygon(0% 0%, 20% 0%, 25% 30%, 25% 70%, 20% 100%, 0% 100%);
  }
  30% {
    clip-path: polygon(0% 0%, 40% 0%, 48% 25%, 48% 75%, 40% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 0%, 65% 0%, 70% 20%, 70% 80%, 65% 100%, 0% 100%);
  }
  70% {
    clip-path: polygon(0% 0%, 85% 0%, 88% 15%, 88% 85%, 85% 100%, 0% 100%);
  }
  85% {
    clip-path: polygon(0% 0%, 95% 0%, 97% 10%, 97% 90%, 95% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%);
  }
}
