/* Slide from Bottom Theme Transition */

html.slide-from-bottom-transition::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

html.slide-from-bottom-transition::view-transition-old(root) {
  animation: slide-to-top 0.5s ease-in-out forwards;
}

html.slide-from-bottom-transition::view-transition-new(root) {
  animation: slide-from-bottom 0.5s ease-in-out forwards;
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-to-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
