/* Vertical Wipe Theme Transition */
@keyframes vertical-wipe {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

html.vertical-wipe-transition::view-transition-old(root),
html.vertical-wipe-transition::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

html.vertical-wipe-transition::view-transition-old(root) {
  z-index: 1;
}

html.vertical-wipe-transition::view-transition-new(root) {
  z-index: 2;
  animation: vertical-wipe 0.5s ease-in-out forwards;
}
